* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    border-left: 0;
    border-right: 0;
    font-size: 2rem;
    background: #FDE2FF;
    color: black;
}

p {    
    color: black;
    text-decoration: none;
    padding: 1rem;
}

li {
    padding: 1rem;
}

/* .columns {
    columns: 4 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}
 */
/* .columns h2 {
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;    
} */

.columns .quote {
    margin: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}

.nowrap {
    white-space: nowrap;
}

a {
  text-decoration: none;
  color: purple;  
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    opacity: 0.8;
}

a:active {
    color: green;
}

h1, h2 {
    color: blue;
    padding: 1rem;
}

.bestSongsEver {
    background-image: url('img/radio.jpg');
    background-size: cover;
    background-position: bottom;
}

.block {
    float: left;
    margin-right: 1rem;
}

.container {
    width: 80%;
    padding: 1rem;
    display: flow-root;
}

.song {
    text-align: center;
}

h1 span {
    padding: 1rem;
    text-transform: uppercase;
    background: gold;
    border-radius: 2rem;
}

.grayItalic {
    font-style: italic;
    color: gray;
}
ul {
    list-style-type: none;
    padding: 0;
}

/* li {
    list-style: url("img/radioicon.png") inside;
} */
   

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

footer a:visited {
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    position: sticky;
    left: 0;
    bottom: 0;
}

/* || SMALL  - FIX - NOT RESPONDING ||||  */
@media screen and (min-width: 576px) {
    h1, h2 {
        color: green;
    }   
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    h1, h2 {
        color: gold;
    }   
}

/* || LARGE */
@media screen and (min-width: 992px) {
    h1, h2 {
        color: firebrick;
    }   
}

/* || XL */
@media screen and (min-width: 1200px) {
    h1, h2 {
        color: rebeccapurple;
    }   
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1, h2 {
        color: aliceblue;
    }   
}

