
body {
    font-family: 'Comfortaa', cursive;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-size: 2rem;
    background: #FDE2FF;
    color: black;
}

p {    
    color: black;
    text-decoration: none;
}


.container {
    font-size: 1.5rem;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;   
}

a {
  text-decoration: none;
  color: steelblue;  
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    opacity: 0.8;
}

a:active {
    color: green;
}

h1, h2 {
    color: blue;
}

.song {
    text-align: center;
}

h1 span {
    padding: 1rem;
    text-transform: uppercase;
    background: gold;
    border-radius: 2rem;
}

.grayItalic {
    font-style: italic;
    color: gray;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    list-style: url("img/radioicon.png") inside;
}
   

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}