
body {
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    font-size: 2rem;
    background: #FDE2FF;
    color: black;
}

p {    
    color: black;
}


h1, h2 {
    color: blue;
}

.song {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 span {
    background: gold;
}

.grayItalic {
    font-style: italic;
    color: gray;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}